/* @import url('function.css'); */

:root {
  --primary-color: #161616;
  --secondary-color: white;
  --ouvrier-color: #ff7979;
  --bg-article-color: hsl(0, 0%, 96%);
  --bg-color: #161616;
  --legende-color: #616161;
  --text-color: #e8e6e3;

  --legende-font-size: 14px;
  --texte-article-font-size: 17px;
  --date-article-font-size: 11px;
  --titre-paragraphe-font-size: 24px;

  --primary-font: "Graphik", sans-serif;
  --titre-font: "Graphik", sans-serif;
  --article-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --article-intro-font: "Times New Roman", Times, serif;

  --small: 600px;
  --medium: 760px;
  --large: 960px;
}
