#CMS_URL=https://mogoux-fanum.inframshe.univ-fcomte.fr
CMS_URL=
CMS_BASE_URL=
PUBLIC_BASE_URL=/memoires-ouvrieres

# Avant de commencer le projet, assurez-vous de configurer et d’enregistrer les variables d’environnement requises.